<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="blogs content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores temporibus corporis cumque quis nobis magni dolorum praesentium facilis qui rerum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores temporibus corporis cumque quis nobis magni dolorum praesentium facilis qui rerum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores temporibus corporis cumque quis nobis magni dolorum praesentium facilis qui rerum?</p>

</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>